@{
    ViewData["Title"] = "Administrator";
}

<style>
    .hidden {
        display: none;
    }

    th {
        width: 10%;
    }

    td {
        width: 10%;
    }

    .even {
        background-color: #F5F5F5;
    }
    .error {
        background-color: #FF6347;
    }
</style>

<label for="profile_pic_select"><img id="profile_pic" src="@ViewBag.Image" style="position: absolute; width: 15%; height: auto; top: 1%; left: 1%; cursor: pointer;" /></label>
<input id="profile_pic_select" name="profile_pic_select" type="file" accept="image/*" style="display: none;" />

<div style="position: absolute; top: 15%; width: 65%; margin-left: 17.5%; margin-right: 17.5%; height: 85%;">
    <h1 style="width: 100%; height: 25%; text-align: center; margin: 0;">Inserare date angajați</h1>
    <div style="position: relative; width: 100%; margin-bottom: 1%; height: 5%;  display: flex;">
        <p style="width: 25%; text-align: center;">Cautare angajat:</p>
        <input id="search_name_cnp" style="width: 25%" placeholder="CNP sau Nume sau Prenume" />
    </div>
    <p><span><i class="fas fa-question"></i></span>&emsp;Faceți click pe câmpul dorit pentru a-l modifica, ori pe ultima linie din tabel pentru adăugare</p>
    <table border="1" style="width: 100%; max-height: 67%; border: 1px solid black; overflow-y: auto;">
        <tr>
            <th style="text-align: center;">CNP</th>
            <th style="text-align: center;">Email</th>
            <th style="text-align: center;">Email firma</th>
            <th style="text-align: center;">Nume</th>
            <th style="text-align: center;">Prenume</th>
            <th style="text-align: center;">Număr înmatriculare</th>
            <th style="text-align: center;">Departament</th>
            <th style="text-align: center;">Etaj</th>
            <th style="text-align: center;">Birou</th>
            <th style="text-align: center;">Loc</th>
        </tr>
        @for (int i = 0; i < ViewBag.Count; i++)
        {
    <tr data-id="@ViewBag.Ids[i]">
        @if (i % 2 == 1)
        {
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="cnp" value="@ViewBag.CNP[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="email" value="@ViewBag.Email[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="email_firma" value="@ViewBag.Email_firma[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="nume" value="@ViewBag.Nume[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="prenume" value="@ViewBag.Prenume[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="numar_inmatriculare" value="@ViewBag.Numar_inmatriculare[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="departament" value="@ViewBag.Departament[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="etaj" value="@ViewBag.Etaj[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="birou" value="@ViewBag.Birou[i]" /></td>
            <td><input class="even" style="width: 100%; outline: none; border: 0; text-align: center;" data-field="loc" value="@ViewBag.Loc[i]" /></td>
        }
        else
        {
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="cnp" value="@ViewBag.CNP[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="email" value="@ViewBag.Email[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="email_firma" value="@ViewBag.Email_firma[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="nume" value="@ViewBag.Nume[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="prenume" value="@ViewBag.Prenume[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="numar_inmatriculare" value="@ViewBag.Numar_inmatriculare[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="departament" value="@ViewBag.Departament[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="etaj" value="@ViewBag.Etaj[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="birou" value="@ViewBag.Birou[i]" /></td>
            <td><input style="width: 100%; outline: none; border:0; text-align: center;" data-field="loc" value="@ViewBag.Loc[i]" /></td>
        }
    </tr>
        }
    <tr class="create">
        @if (ViewBag.Count % 2 == 0)
        {
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="cnp" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="email" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="email_firma" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="nume" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="prenume" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="numar_inmatriculare" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="departament" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="etaj" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="birou" /></td>
            <td><input style="width: 100%; border: 0; outline: none; text-align: center;" data-field="loc" /></td>
        }
        else
        {
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="cnp" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="email"/></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="email_firma" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="nume" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="prenume" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="numar_inmatriculare" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="departament" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="etaj" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="birou" /></td>
            <td><input class="even" style="width: 100%; border: 0; outline: none; text-align: center;" data-field="loc" /></td>
        }
    </tr>
    </table>
</div>

<script>
    var last_value
    var error_msg = ""
    function input_click(input) {
        if (error_msg == "")
            last_value = input.val();
    }
    function input_input(input) {
        var index = input.parent().index();
        var value = input.val().toLowerCase();
        if (index == 0) {
            var digits = "0123456789";
            var bool = true;
            for (var i = 0; i < value.length && bool; i++) {
                if (!digits.includes(value[i]))
                    bool = false;
            }
            if (!input.parent().parent().hasClass("create") && value.length != 13) {
                input.addClass('error');
                error_msg = "CNP-ul trebuie sa contina exact 13 cifre."
            }
            else if (input.parent().parent().hasClass("create") && value.length > 0 && value.length != 13) {
                input.addClass('error');
                error_msg = "CNP-ul trebuie sa contina exact 13 cifre."
            }
            else if (bool != true) {
                input.addClass('error');
                error_msg = "CNP-ul trebuie sa fie format doar din cifre."

            }
            else {
                input.removeClass('error');
                error_msg = "";
            }
        }
        else if (index == 1 || index == 2) {
            var accepted = "abcdefghijklmnopqrstuvwxyz0123456789 .!#$%&'*+-/=?^_`{|}~@@";
            if (input.parent().parent().hasClass("create") && value.length == 0) {
                if (index == 2) {
                    input.addClass('error');
                    error_msg = "Câmpul nu poate fi vid.";
                }
                else {
                    input.val('-');
                    input.removeClass('error');
                    error_msg = "";
                }
            }
            else {
                for (var i = 0; i < value.length; i++)
                    if (!accepted.includes(value[i])) {
                        input.addClass('error');
                        error_msg = "Emailul dat contine caractere invalide.";
                        break;
                    }
                if (value.length == 0) {
                    input.removeClass('error');
                    error_msg = "";
                }
                else if (i == value.length) {
                    if (value.lastIndexOf('@@') == -1 || value.lastIndexOf('.') == -1 || value.lastIndexOf('@@') == 0 || value.lastIndexOf('.') == value.length - 1 || value.lastIndexOf('.') < value.lastIndexOf('@@')) {
                        input.addClass('error');
                        error_msg = 'Formatul emailului dat nu respectă șablonul "email@@domeniu.subdomeniu"';
                    }
                    else {
                        input.removeClass('error');
                        error_msg = "";
                    }
                }
            }

        }
        else if (index == 3 || index == 4) {
            var accepted = "aâbcdefghiîjklmnopqrsștțuvwxyz -";
            if (!input.parent().parent().hasClass("create") && value.length == 0) {
                input.addClass('error');
                error_msg = "Câmpul nu poate fi vid.";
            }
            else {
                for (var i = 0; i < value.length; i++)
                    if (!accepted.includes(value[i])) {
                        input.addClass('error');
                        error_msg = "Numele și prenumele nu pot conține cifre sau caractere speciale.";
                        break;
                    }
                if (i == value.length) {
                    input.removeClass('error');
                    error_msg = "";
                }
            }

        }
        else if (index == 5) {
            if (!input.parent().parent().hasClass("create") && value.length == 0)
                input.val('-');
        }
        else if (index == 6) {
            if (!input.parent().parent().hasClass("create") && value.length == 0) {
                input.addClass('error');
                error_msg = "Câmpul nu poate fi vid.";
            }
            else {
                input.removeClass('error');
                error_msg = "";
            }
        }
        else if (index == 7 || index == 8 || index == 9) {
            var digits = "0123456789";
            if (!input.parent().parent().hasClass("create") && value.length == 0) {
                input.addClass('error');
                error_msg = "Câmpul nu poate fi vid.";
            }
            else {
                for (var i = 0; i < value.length; i++)
                    if (!digits.includes(value[i])) {
                        input.addClass('error');
                        error_msg = "Etajul, biroul si locul trebuie sa fie numere.";
                        break;
                    }
                if (i == value.length) {
                    input.removeClass('error');
                    error_msg = "";
                }
            }
        }

    }
    function input_change(input) {
        if (input.val() != last_value) {
            if ($('.safety_check').length == 0)
                safety_check_popup(input);
        }
    }
    function safety_check_popup(input) {
        if (error_msg == "" && !input.parent().parent().hasClass('create')) {
            var div = document.createElement('div');
            var button;
            div.className = "safety_check";
            div.style.position = "absolute";
            div.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
            div.style.width = "100%";
            div.style.top = "0";
            div.style.height = "100%";
            div.style.zIndex = "1";
            document.querySelector('body').appendChild(div);
            div = document.createElement('div');
            div.style.padding = "2.5% 2.5% 2.5% 2.5%";
            div.style.display = "flex";
            div.style.flexDirection = "row";
            div.style.flexWrap = "wrap";
            div.style.backgroundColor = "#E9ECEF";
            div.className = "safety_check";
            div.style.position = "absolute";
            div.style.width = "25%";
            div.style.top = "37.5%";
            div.style.left = "37.5%";
            div.style.right = "37.5%";
            div.style.zIndex = "2";
            if (input.parent().index() == 1)
                div.innerHTML = "<p style='width: 100%; text-align: justify;'>&emsp;Sunteți sigur/ă că doriți să modificați câmpul " + $('tr').eq(0).find('th').eq(input.parent().index()).text() + " pentru angajatul/a " + last_value + " " + input.parent().parent().find('td').eq(2).find('input').val() + "?</p>"
            else if (input.parent().index() == 2)
                div.innerHTML = "<p style='width: 100%; text-align: justify;'>&emsp;Sunteți sigur/ă că doriți să modificați câmpul " + $('tr').eq(0).find('th').eq(input.parent().index()).text() + " pentru angajatul/a " + input.parent().parent().find('td').eq(1).find('input').val() + " " + last_value + "?</p>"
            else
                div.innerHTML = "<p style='width: 100%; text-align: justify;'>&emsp;Sunteți sigur/ă că doriți să modificați câmpul " + $('tr').eq(0).find('th').eq(input.parent().index()).text() + " pentru angajatul/a " + input.parent().parent().find('td').eq(1).find('input').val() + " " + input.parent().parent().find('td').eq(2).find('input').val() + "?</p>"
            button = document.createElement('input');
            button.type = "button";
            button.className = "btn btn-success";
            button.style.marginTop = "auto";
            button.style.marginLeft = "auto";
            button.style.marginRight = "auto";
            button.style.width = "25%";
            button.value = "Da";
            $(button).on("click", function () {
                var divs = document.querySelectorAll('.safety_check');
                divs[0].remove();
                divs[1].remove();
                $.ajax({
                    url: "/",
                    method: "POST",
                    data: { "update_user": input.parent().parent().data('id'), "field_name": input.data("field"), "field_value": input.val() }
                });
            });
            div.appendChild(button);
            button = document.createElement('input');
            button.type = "button";
            button.className = "btn btn-danger";
            button.style.marginTop = "auto";
            button.style.marginLeft = "auto";
            button.style.marginRight = "auto";
            button.style.width = "25%";
            button.value = "Nu";
            $(button).on("click", function () {
                var divs = document.querySelectorAll('.safety_check');
                divs[0].remove();
                divs[1].remove();
                input.val(last_value);
            });
            div.appendChild(button);
            document.querySelector('body').appendChild(div);
        }
        else if (error_msg != "") {
            var div = document.createElement('div');
            var button;
            div.className = "safety_check";
            div.style.position = "absolute";
            div.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
            div.style.width = "100%";
            div.style.top = "0";
            div.style.height = "100%";
            div.style.zIndex = "1";
            document.querySelector('body').appendChild(div);
            div = document.createElement('div');
            div.style.padding = "2.5% 2.5% 2.5% 2.5%";
            div.style.display = "flex";
            div.style.flexDirection = "row";
            div.style.flexWrap = "wrap";
            div.style.backgroundColor = "#E9ECEF";
            div.className = "safety_check";
            div.style.position = "absolute";
            div.style.width = "25%";
            div.style.top = "37.5%";
            div.style.left = "37.5%";
            div.style.right = "37.5%";
            div.style.zIndex = "2";
            input.focus();
            div.innerHTML = "<h2 style='width: 100%;'>Eroare!</h2><p style='width: 100%; text-align: justify;'>&emsp;" + error_msg + "</p>"
            button = document.createElement('input');
            button.type = "button";
            button.className = "btn btn-primary";
            button.style.marginTop = "auto";
            button.style.marginLeft = "auto";
            button.style.marginRight = "auto";
            button.style.width = "25%";
            button.value = "Ok";
            $(button).on("click", function () {
                var divs = document.querySelectorAll('.safety_check');
                divs[0].remove();
                divs[1].remove();
                input.focus();
            });
            div.appendChild(button);
            document.querySelector('body').appendChild(div);
        }
        else {
            var last_cols = $('tr.create').find('td');
            for (i = 0; i < last_cols.length; i++) {
                if (i != 1 && i != 5 && last_cols.eq(i).find('input').eq(0).val().length == 0)
                    break;
            }
            if (i == last_cols.length) {
                var div = document.createElement('div');
                var button;
                div.className = "safety_check";
                div.style.position = "absolute";
                div.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
                div.style.width = "100%";
                div.style.top = "0";
                div.style.height = "100%";
                div.style.zIndex = "1";
                document.querySelector('body').appendChild(div);
                div = document.createElement('div');
                div.style.padding = "2.5% 2.5% 2.5% 2.5%";
                div.style.display = "flex";
                div.style.flexDirection = "row";
                div.style.flexWrap = "wrap";
                div.style.backgroundColor = "#E9ECEF";
                div.className = "safety_check";
                div.style.position = "absolute";
                div.style.width = "25%";
                div.style.top = "37.5%";
                div.style.left = "37.5%";
                div.style.right = "37.5%";
                div.style.zIndex = "2";
                div.innerHTML = "<p style='width: 100%; text-align: justify;'>&emsp;Sunteți sigur/ă că doriți să adăugați noul angajat?</p>"
                button = document.createElement('input');
                button.type = "button";
                button.className = "btn btn-success";
                button.style.marginTop = "auto";
                button.style.marginLeft = "auto";
                button.style.marginRight = "auto";
                button.style.width = "25%";
                button.value = "Da";
                $(button).on("click", function () {
                    var divs = document.querySelectorAll('.safety_check');
                    divs[0].remove();
                    divs[1].remove();
                    $.ajax({
                        url: "/",
                        method: "POST",
                        data: { "insert_user_cnp": last_cols.eq(0).find('input').eq(0).val(), "insert_user_email": last_cols.eq(1).find('input').eq(0).val(), "insert_user_email_firma": last_cols.eq(2).find('input').eq(0).val(), "insert_user_nume": last_cols.eq(3).find('input').eq(0).val(), "insert_user_prenume": last_cols.eq(4).find('input').eq(0).val(), "insert_user_numar_inmatriculare": last_cols.eq(5).find('input').eq(0).val(), "insert_user_departament": last_cols.eq(6).find('input').eq(0).val(), "insert_user_etaj": last_cols.eq(7).find('input').eq(0).val(), "insert_user_birou": last_cols.eq(8).find('input').eq(0).val(), "insert_user_loc": last_cols.eq(9).find('input').eq(0).val()},
                        success: function (data) {
                            $('tr.create').data('id', data['message']);
                            $('tr.create').removeClass('create');
                            var trs = $('tr').length;
                            var tr = document.createElement('tr');
                            var td;
                            var input;
                            tr.className = "create";
                            for (var i = 0; i < 10; i++) {
                                td = document.createElement('td');
                                input = document.createElement('input');
                                input.style.width = "100%";
                                input.style.outline = "none";
                                input.style.border = "0";
                                input.style.textAlign = "center";
                                $(input).on("click", function () {
                                    input_click($(this));
                                });
                                $(input).on("input", function () {
                                    input_input($(this));
                                });
                                $(input).change(function () {
                                    input_change($(this));
                                });
                                if (trs % 2 == 0)
                                    input.className = "even";
                                td.appendChild(input);
                                tr.appendChild(td);
                            }
                            document.querySelector('table').appendChild(tr);
                        }
                    });
                });
                div.appendChild(button);
                button = document.createElement('input');
                button.type = "button";
                button.className = "btn btn-danger";
                button.style.marginTop = "auto";
                button.style.marginLeft = "auto";
                button.style.marginRight = "auto";
                button.style.width = "25%";
                button.value = "Nu";
                $(button).on("click", function () {
                    var divs = document.querySelectorAll('.safety_check');
                    divs[0].remove();
                    divs[1].remove();
                });
                div.appendChild(button);
                document.querySelector('body').appendChild(div);
            }
        }
    }
    $("#profile_pic_select").change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var filesize = ((input.files[0].size / 1024) / 1024).toFixed(4); // MB
            if (filesize > 5) {
                alert("Eroare! Imaginile mai mari de 5MB nu sunt acceptate!");
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#profile_pic").attr("src", e.target.result);
                    $.ajax({
                        url: "/",
                        method: "POST",
                        data: { "uid": "@ViewBag.uid", "change_profile_pic": e.target.result }
                    });
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    });


    $('td > input').on("click", function () {
        input_click($(this));
    });
    $('td > input').on("input", function () {
        input_input($(this));
    });
    $('#search_name_cnp').on("input", function () {
        var rows = $('tr');
        for (var i = 1; i < rows.length-1; i++)
            if (rows.eq(i).find('td').eq(0).find('input').val().includes($(this).val()) || rows.eq(i).find('td').eq(1).find('input').val().toLowerCase().includes($(this).val().toLowerCase()) || rows.eq(i).find('td').eq(2).find('input').val().toLowerCase().includes($(this).val().toLowerCase()))
                rows.eq(i).css('display', '');
            else
                rows.eq(i).css('display', 'none');
    });

    $('td > input').change(function () {
        input_change($(this));
    });
    $('html').on("click", function (e) {
        if ($('.safety_check').length == 0 && e.target.parentElement.className != "safety_check" && error_msg != "" && !$(e.target).hasClass('error'))
        {
            safety_check_popup($('.error'));
        }
    });
</script>